In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data for fights and fighters
bouts = pd.read_csv("ufc_bouts.csv", index_col = 0)
fighters = pd.read_csv("ufc_fighters.csv")

Next, We will perform a series of steps to clean up the datasets.

In [3]:
bouts.head()

,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
bout_id,,,,,,,,,,,,,
1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36
2,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ricardo Lamas,Darren Elkins,Ricardo Lamas,Featherweight,f,KO/TKO-Elbows,3,4:09
3,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,Light Heavyweight,f,KO/TKO-Elbow,1,1:57
4,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ian Heinisch,Cezar Ferreira,Ian Heinisch,Middleweight,f,DEC-Unanimous,3,5:00
5,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Marlon Vera,Guido Cannetti,Marlon Vera,Bantamweight,f,SUB-Rear Naked Choke,2,1:31

In [4]:
fighters.head()

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
0,1,Luciano Azevedo,16,9,1,0,"6' 3""",161 lbs.,NaN,Orthodox,"Jun 25, 1981",0.76,45%,1.97,27%,2.28,11%,0%,0.0,2018-11-21 19:35:04.893952
1,2,Michael Byrnes,5,2,0,0,"5' 11""",155 lbs.,NaN,NaN,"Jul 17, 1990",0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 19:35:09.304165
2,3,Gleidson Cutis,7,3,0,0,"5' 9""",155 lbs.,NaN,Orthodox,"Feb 07, 1989",2.99,52%,8.28,59%,0.00,0%,0%,0.0,2018-11-21 19:35:11.211072
3,4,Rolando Dy,9,7,1,1,"5' 8""",145 lbs.,"69""",Orthodox,"Aug 11, 1990",3.04,37%,4.47,52%,0.30,20%,68%,0.0,2018-11-21 19:35:14.677808
4,5,Jessica Eye,13,6,0,1,"5' 6""",125 lbs.,"66""",Orthodox,"Jul 27, 1986",3.42,36%,3.32,59%,0.59,71%,60%,0.8,2018-11-21 19:35:17.495278

In [5]:
# check if there are fighters with the same name
fighters[fighters.duplicated(subset="name", keep=False)]

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
511,512,Michael McDonald,17,4,0,0,"5' 9""",135 lbs.,"70""",Orthodox,"Jan 15, 1991",2.69,42%,2.76,57%,1.09,66%,52%,1.4,2018-11-21 20:06:32.497948
513,514,Michael McDonald,1,1,0,0,"5' 11""",205 lbs.,NaN,Orthodox,"Feb 06, 1965",0.00,0%,0.40,50%,0.00,0%,0%,0.0,2018-11-21 20:06:39.825372
845,845,Dong Hyun Kim,16,8,3,0,"5' 11""",155 lbs.,"70""",Orthodox,"Sep 09, 1988",3.77,45%,4.53,53%,1.67,60%,33%,0.0,2018-11-21 20:26:57.805101
852,852,Dong Hyun Kim,22,4,1,1,"6' 2""",170 lbs.,"76""",Southpaw,"Nov 17, 1981",2.12,49%,1.89,58%,2.93,43%,71%,0.6,2018-11-21 20:27:20.82459
946,947,Tony Johnson,11,3,0,0,"6' 1""",265 lbs.,NaN,NaN,NaN,2.00,53%,4.73,31%,2.00,22%,0%,0.0,2018-11-21 20:33:09.727428
954,955,Tony Johnson,4,2,0,0,NaN,185 lbs.,NaN,NaN,NaN,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 20:33:41.289451
1674,1674,Mike Davis,5,1,0,0,"6' 0""",145 lbs.,"72""",Orthodox,"Oct 07, 1992",5.13,49%,7.40,48%,0.00,0%,100%,0.0,2018-11-21 21:17:43.856431
1679,1679,Mike Davis,2,0,0,0,NaN,NaN,NaN,NaN,NaN,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 21:18:02.161503

In [6]:
# note that we have several fighters who have the same names
# Fortunately, they belong to different weight classes
fighters.iloc[513, 1] = "Michael McDonald 205"
fighters.iloc[845, 1] = "Dong Hyun Kim 155"
fighters.iloc[954, 1] = "Tony Johnson 185"
fighters.iloc[1674, 1] = "Mike Davis 145"

In [7]:
# use fighter names as index
fighters.drop("fighter_id", axis=1, inplace=True)
fighters.set_index("name", inplace=True)

In [8]:
# Some fighters do not have statistics available, and we will remove those fighters.
fighers_clean = fighters.loc[~((fighters["SLpM"] == 0) &
                               (fighters["Str_Acc"] == "0%") & 
                               (fighters["SApM"] == 0) &
                               (fighters["Str_Def"] == "0%") &
                               (fighters["TD_Avg"] == 0) &
                               (fighters["TD_Acc"] == "0%") &
                               (fighters["TD_Def"] == "0%") &
                               (fighters["Sub_Avg"] == 0))].copy()

In [9]:
print("{0} fighers in total, after clean up: {1} fighers".format(len(fighters), len(fighers_clean)))

3187 fighers in total, after clean up: 2559 fighers

Note:
* SLpM - Significant Strikes Landed per Minute
* Str_Acc - Significant Striking Accuracy
* SApM - Significant Strikes Absorbed per Minute
* Str_Def - Significant Strike Defence (the % of opponents strikes that did not land)
* TD_Avg - Average Takedowns Landed per 15 minutes
* TD_Acc - Takedown Accuracy
* TD_Def - Takedown Defense (the % of opponents TD attempts that did not land)
* Sub_Avg - Average Submissions Attempted per 15 minutes

In [10]:
# add winning percentages
fighers_clean["win%"] = 100 * (fighers_clean["win"] / (fighers_clean["win"] +
                                                 fighers_clean["lose"] +
                                                 fighers_clean["draw"] +
                                                 fighers_clean["nc"]))
# change datatypes
percentages = ["Str_Acc", "Str_Def", "TD_Acc", "TD_Def"]
statistics = ["SLpM", "Str_Acc", "SApM", "Str_Def", "TD_Avg", "TD_Acc", "TD_Def", "Sub_Avg", "win%"]

fighers_clean.loc[:, percentages] = fighers_clean.loc[:, percentages].applymap(
    lambda x: x.replace("%", ""))

fighers_clean.loc[:, statistics] = fighers_clean.loc[:, statistics].astype(np.float32)

In [11]:
fighers_clean.head()

,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated,win%
name,,,,,,,,,,,,,,,,,,,
Luciano Azevedo,16,9,1,0,"6' 3""",161 lbs.,NaN,Orthodox,"Jun 25, 1981",0.76,45.0,1.97,27.0,2.28,11.0,0.0,0.0,2018-11-21 19:35:04.893952,61.53846
Gleidson Cutis,7,3,0,0,"5' 9""",155 lbs.,NaN,Orthodox,"Feb 07, 1989",2.99,52.0,8.28,59.0,0.00,0.0,0.0,0.0,2018-11-21 19:35:11.211072,70.00000
Rolando Dy,9,7,1,1,"5' 8""",145 lbs.,"69""",Orthodox,"Aug 11, 1990",3.04,37.0,4.47,52.0,0.30,20.0,68.0,0.0,2018-11-21 19:35:14.677808,50.00000
Jessica Eye,13,6,0,1,"5' 6""",125 lbs.,"66""",Orthodox,"Jul 27, 1986",3.42,36.0,3.32,59.0,0.59,71.0,60.0,0.8,2018-11-21 19:35:17.495278,65.00000
Katsuaki Furuki,1,1,0,0,"6' 0""",168 lbs.,NaN,NaN,"Nov 10, 1980",0.27,10.0,2.67,39.0,0.00,0.0,0.0,3.0,2018-11-21 19:35:21.053769,50.00000

In [12]:
# use born year only
def get_year(dob):
    if pd.isna(dob):
        return "unk"
    return dob.split(", ")[-1]

fighers_clean["born_year"] = fighers_clean["dob"].map(lambda dob: get_year(dob))

In [13]:
fighers_clean.head()

,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated,win%,born_year
name,,,,,,,,,,,,,,,,,,,,
Luciano Azevedo,16,9,1,0,"6' 3""",161 lbs.,NaN,Orthodox,"Jun 25, 1981",0.76,45.0,1.97,27.0,2.28,11.0,0.0,0.0,2018-11-21 19:35:04.893952,61.53846,1981
Gleidson Cutis,7,3,0,0,"5' 9""",155 lbs.,NaN,Orthodox,"Feb 07, 1989",2.99,52.0,8.28,59.0,0.00,0.0,0.0,0.0,2018-11-21 19:35:11.211072,70.00000,1989
Rolando Dy,9,7,1,1,"5' 8""",145 lbs.,"69""",Orthodox,"Aug 11, 1990",3.04,37.0,4.47,52.0,0.30,20.0,68.0,0.0,2018-11-21 19:35:14.677808,50.00000,1990
Jessica Eye,13,6,0,1,"5' 6""",125 lbs.,"66""",Orthodox,"Jul 27, 1986",3.42,36.0,3.32,59.0,0.59,71.0,60.0,0.8,2018-11-21 19:35:17.495278,65.00000,1986
Katsuaki Furuki,1,1,0,0,"6' 0""",168 lbs.,NaN,NaN,"Nov 10, 1980",0.27,10.0,2.67,39.0,0.00,0.0,0.0,3.0,2018-11-21 19:35:21.053769,50.00000,1980

In [14]:
# remove unused columns
fighers_clean.drop(["weight", "dob", "last_updated"], inplace=True, axis=1)

In [15]:
fighers_clean.head()

,win,lose,draw,nc,height,reach,stance,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,win%,born_year
name,,,,,,,,,,,,,,,,,
Luciano Azevedo,16,9,1,0,"6' 3""",NaN,Orthodox,0.76,45.0,1.97,27.0,2.28,11.0,0.0,0.0,61.53846,1981
Gleidson Cutis,7,3,0,0,"5' 9""",NaN,Orthodox,2.99,52.0,8.28,59.0,0.00,0.0,0.0,0.0,70.00000,1989
Rolando Dy,9,7,1,1,"5' 8""","69""",Orthodox,3.04,37.0,4.47,52.0,0.30,20.0,68.0,0.0,50.00000,1990
Jessica Eye,13,6,0,1,"5' 6""","66""",Orthodox,3.42,36.0,3.32,59.0,0.59,71.0,60.0,0.8,65.00000,1986
Katsuaki Furuki,1,1,0,0,"6' 0""",NaN,NaN,0.27,10.0,2.67,39.0,0.00,0.0,0.0,3.0,50.00000,1980

Now, let's work on the fights dataset.

In [16]:
bouts.head()

,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
bout_id,,,,,,,,,,,,,
1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36
2,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ricardo Lamas,Darren Elkins,Ricardo Lamas,Featherweight,f,KO/TKO-Elbows,3,4:09
3,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,Light Heavyweight,f,KO/TKO-Elbow,1,1:57
4,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ian Heinisch,Cezar Ferreira,Ian Heinisch,Middleweight,f,DEC-Unanimous,3,5:00
5,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Marlon Vera,Guido Cannetti,Marlon Vera,Bantamweight,f,SUB-Rear Naked Choke,2,1:31

In [17]:
bouts["result"].value_counts()

win     4796
nc        48
draw      34
Name: result, dtype: int64

In [18]:
# use matches that have a winner, ignore nc, draws
bouts = bouts.loc[bouts["result"] == "win"].copy()

In [19]:
bouts["fight_year"] = bouts["date"].map(lambda d: d[:4])
bouts["method"] = bouts["method"].map(lambda m: m.split("-")[0])

In [20]:
# remove unused columns
bouts.drop(["event_name", "date", "location", "attendance ", "result", "end_time"],
          axis=1, inplace=True)

In [21]:
bouts.head()

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year
bout_id,,,,,,,,
1,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO,4,2018
2,Ricardo Lamas,Darren Elkins,Ricardo Lamas,Featherweight,f,KO/TKO,3,2018
3,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,Light Heavyweight,f,KO/TKO,1,2018
4,Ian Heinisch,Cezar Ferreira,Ian Heinisch,Middleweight,f,DEC,3,2018
5,Marlon Vera,Guido Cannetti,Marlon Vera,Bantamweight,f,SUB,2,2018

In [22]:
# winner is always fighter 1 
bouts["fighter1"].equals(bouts["winner"])

True

In [23]:
# randomly swap fighter1 and fighter2 for half of the dataset to create "negative cases"
swap_indices = np.random.choice(len(bouts), size = len(bouts) // 2, replace = False)
bouts.iloc[swap_indices, [0, 1]] = bouts.iloc[swap_indices, [1, 0]].values

In [24]:
bouts["winner"] = bouts["winner"] == bouts["fighter1"]
bouts["winner"] = bouts["winner"].astype(int)
bouts["winner"].value_counts()

1    2398
0    2398
Name: winner, dtype: int64

In [25]:
bouts.tail()

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year
bout_id,,,,,,,,
4874,Chas Skelly,Bobby Moffett,0,Featherweight,f,SUB,2,2018
4875,Davi Ramos,John Gunther,1,Lightweight,f,SUB,1,2018
4876,Julian Erosa,Devonte Smith,0,Lightweight,f,KO/TKO,1,2018
4877,Eric Shelton,Joseph Morales,1,Flyweight,f,DEC,3,2018
4878,Mark De La Rosa,Joby Sanchez,1,Bantamweight,f,DEC,3,2018

In [26]:
bouts[bouts["fighter1"]=="Dong Hyun Kim"]

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year
bout_id,,,,,,,,
144,Dong Hyun Kim,Takanori Gomi,1,Lightweight,f,KO/TKO,1,2017
1193,Dong Hyun Kim,Matt Brown,1,Welterweight,f,DEC,3,2008
1382,Dong Hyun Kim,TJ Grant,1,Welterweight,f,DEC,3,2009
1582,Dong Hyun Kim,Amir Sadollah,1,Welterweight,f,DEC,3,2010
1739,Dong Hyun Kim,Nate Diaz,1,Welterweight,f,DEC,3,2011
1876,Dong Hyun Kim,Carlos Condit,0,Welterweight,f,KO/TKO,1,2011
2650,Dong Hyun Kim,Erick Silva,1,Welterweight,f,KO/TKO,2,2013
2831,Dong Hyun Kim,John Hathaway,1,Welterweight,f,KO/TKO,3,2014
3443,Dong Hyun Kim,Joshua Burkman,1,Welterweight,f,SUB,3,2015
4156,Dong Hyun Kim,Brendan O'Reilly,1,Lightweight,f,DEC,3,2016

In [27]:
# again, handel duplicate names
bouts_clean = bouts.copy()
for col in ["fighter1", "fighter2"]:
    bouts_clean.loc[(bouts_clean[col] == "Michael McDonald") &
                    (bouts_clean["weight_class"] == "Light Heavyweight"), col] = "Michael McDonald 205"
    
    bouts_clean.loc[(bouts_clean[col] == "Dong Hyun Kim") &
                    (bouts_clean["weight_class"] == "Lightweight"), col]= "Dong Hyun Kim 155"
    
    bouts_clean.loc[(bouts_clean[col] == "Tony Johnson") &
                    (bouts_clean["weight_class"] == "Middleweight"), col] = "Tony Johnson 185"
    
    bouts_clean.loc[(bouts_clean[col] == "Mike Davis") &
                    (bouts_clean["weight_class"] == "Featherweight"), col] = "Mike Davis 145"

In [28]:
bouts_clean[bouts_clean["fighter1"] == "Dong Hyun Kim 155"]

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year
bout_id,,,,,,,,
144,Dong Hyun Kim 155,Takanori Gomi,1,Lightweight,f,KO/TKO,1,2017
4156,Dong Hyun Kim 155,Brendan O'Reilly,1,Lightweight,f,DEC,3,2016

Next, we need to fuse these two datasets together.

In [29]:
# make sure all fighters are in the figher database
# otherwise remove the corresponding bout
all_fighter_names = fighers_clean.index.values.tolist()

bouts_clean = bouts_clean.loc[(bouts_clean["fighter1"].isin(all_fighter_names)) &
                              (bouts_clean["fighter2"].isin(all_fighter_names))]

In [30]:
bouts_clean.reset_index(inplace=True, drop=True)

In [31]:
bouts_clean.head()

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year
0,Santiago Ponzinibbio,Neil Magny,1,Welterweight,f,KO/TKO,4,2018
1,Ricardo Lamas,Darren Elkins,1,Featherweight,f,KO/TKO,3,2018
2,Johnny Walker,Khalil Rountree Jr.,1,Light Heavyweight,f,KO/TKO,1,2018
3,Cezar Ferreira,Ian Heinisch,0,Middleweight,f,DEC,3,2018
4,Marlon Vera,Guido Cannetti,1,Bantamweight,f,SUB,2,2018

In [32]:
print("{0} bouts in total, after clean up: {1} bouts".format(len(bouts), len(bouts_clean)))

4796 bouts in total, after clean up: 4591 bouts

In [33]:
fighter1_data = fighers_clean.loc[bouts_clean["fighter1"]]
fighter1_data = fighter1_data.add_suffix('_fighter1')
fighter2_data = fighers_clean.loc[bouts_clean["fighter2"]]
fighter2_data = fighter2_data.add_suffix('_fighter2')

In [34]:
fighter1_data.head()

,win_fighter1,lose_fighter1,draw_fighter1,nc_fighter1,height_fighter1,reach_fighter1,stance_fighter1,SLpM_fighter1,Str_Acc_fighter1,SApM_fighter1,Str_Def_fighter1,TD_Avg_fighter1,TD_Acc_fighter1,TD_Def_fighter1,Sub_Avg_fighter1,win%_fighter1,born_year_fighter1
name,,,,,,,,,,,,,,,,,
Santiago Ponzinibbio,28,3,0,0,"6' 0""","73""",Orthodox,4.27,39.0,4.02,64.0,0.54,44.0,60.0,0.0,90.322578,1986
Ricardo Lamas,19,7,0,0,"5' 8""","71""",Orthodox,2.87,45.0,2.61,59.0,1.66,32.0,47.0,1.0,73.076920,1982
Johnny Walker,15,3,0,0,"6' 5""","82""",Orthodox,5.37,70.0,3.36,25.0,0.89,100.0,100.0,2.6,83.333336,1992
Cezar Ferreira,14,7,0,0,"6' 1""","78""",Southpaw,1.83,42.0,2.14,55.0,2.97,59.0,90.0,0.5,66.666664,1985
Marlon Vera,12,5,1,0,"5' 8""","70""",Switch,3.23,44.0,3.93,52.0,0.78,37.0,68.0,1.3,66.666664,1992

In [35]:
fighter2_data.head()

,win_fighter2,lose_fighter2,draw_fighter2,nc_fighter2,height_fighter2,reach_fighter2,stance_fighter2,SLpM_fighter2,Str_Acc_fighter2,SApM_fighter2,Str_Def_fighter2,TD_Avg_fighter2,TD_Acc_fighter2,TD_Def_fighter2,Sub_Avg_fighter2,win%_fighter2,born_year_fighter2
name,,,,,,,,,,,,,,,,,
Neil Magny,21,8,0,0,"6' 3""","80""",Orthodox,3.86,46.0,2.22,56.0,2.62,46.0,60.0,0.3,72.413795,1987
Darren Elkins,25,7,0,0,"5' 10""","71""",Orthodox,3.36,37.0,2.83,53.0,2.68,35.0,57.0,1.3,78.125000,1984
Khalil Rountree Jr.,8,2,0,2,"6' 1""","76""",Southpaw,2.30,34.0,3.29,38.0,0.00,0.0,50.0,0.3,66.666664,1990
Ian Heinisch,12,1,0,0,"5' 11""",NaN,Orthodox,3.49,58.0,1.67,52.0,0.81,14.0,50.0,1.6,92.307693,1988
Guido Cannetti,8,5,0,0,"5' 6""","68""",Southpaw,2.80,52.0,1.95,51.0,2.80,50.0,75.0,0.3,61.538460,1979

In [36]:
len(fighter1_data), len(fighter2_data)

(4591, 4591)

In [37]:
# now join the two datasets together
fighter1_data.reset_index(inplace=True, drop=True)
fighter2_data.reset_index(inplace=True, drop=True)
combined = pd.concat([bouts_clean, fighter1_data, fighter2_data], axis=1, sort=False)

In [38]:
combined.head()

,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,fight_year,win_fighter1,lose_fighter1,...,SLpM_fighter2,Str_Acc_fighter2,SApM_fighter2,Str_Def_fighter2,TD_Avg_fighter2,TD_Acc_fighter2,TD_Def_fighter2,Sub_Avg_fighter2,win%_fighter2,born_year_fighter2
0,Santiago Ponzinibbio,Neil Magny,1,Welterweight,f,KO/TKO,4,2018,28,3,...,3.86,46.0,2.22,56.0,2.62,46.0,60.0,0.3,72.413795,1987
1,Ricardo Lamas,Darren Elkins,1,Featherweight,f,KO/TKO,3,2018,19,7,...,3.36,37.0,2.83,53.0,2.68,35.0,57.0,1.3,78.125000,1984
2,Johnny Walker,Khalil Rountree Jr.,1,Light Heavyweight,f,KO/TKO,1,2018,15,3,...,2.30,34.0,3.29,38.0,0.00,0.0,50.0,0.3,66.666664,1990
3,Cezar Ferreira,Ian Heinisch,0,Middleweight,f,DEC,3,2018,14,7,...,3.49,58.0,1.67,52.0,0.81,14.0,50.0,1.6,92.307693,1988
4,Marlon Vera,Guido Cannetti,1,Bantamweight,f,SUB,2,2018,12,5,...,2.80,52.0,1.95,51.0,2.80,50.0,75.0,0.3,61.538460,1979

In [39]:
len(combined)

4591

In [40]:
combined.to_csv("ufc_combined.csv")